<p id="notice"><%= notice %></p>

<h1>Finals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<div class="container">
  <tbody class="row " style='width:700px' >
  
    <% @finals.each do |final| %>
      <%#= render :partial => 'reduct', :locals => {final: final} %>
      <%=render 'reduct', final: final %>
    <% end %>
  </tbody>
  </div>
</table>

<br>

<%= link_to 'New Final', new_final_path ,remote: true %>
